.seven-segment {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 56px;
  padding: 4px;
  box-sizing: content-box;
}

.seven-segment::before, .seven-segment::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  border: 8px solid;
  box-sizing: content-box;
}
.seven-segment::before {
  left: 4px; top: 4px;
  border-bottom-width: 4px;
  border-radius: 8px 4px 0 0;
}
.seven-segment::after {
  left: 4px; top: 32px;
  border-top-width: 4px;
  border-radius: 0 0 8px 4px;
}

.seven-segment[data-number='0']::before { border-bottom-color: transparent; }
.seven-segment[data-number='0']::after { border-top-color: transparent; }

.seven-segment[data-number='1']::before { border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent; }
.seven-segment[data-number='1']::after { border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent; }

.seven-segment[data-number='2']::before { border-left-color: transparent; }
.seven-segment[data-number='2']::after { border-right-color: transparent; }

.seven-segment[data-number='3']::before { border-left-color: transparent; }
.seven-segment[data-number='3']::after { border-left-color: transparent; }

.seven-segment[data-number='4']::before { border-top-color: transparent; }
.seven-segment[data-number='4']::after { border-bottom-color: transparent; border-left-color: transparent; }

.seven-segment[data-number='5']::before { border-right-color: transparent; }
.seven-segment[data-number='5']::after { border-left-color: transparent; }

.seven-segment[data-number='6']::before { border-right-color: transparent; }

.seven-segment[data-number='7']::before { border-bottom-color: transparent; border-left-color: transparent; }
.seven-segment[data-number='7']::after  { border-top-color: transparent; border-bottom-color: transparent; border-left-color: transparent; }

.seven-segment[data-number='9']::after  { border-left-color: transparent; }
